/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Mono&family=Lora&family=Overpass:ital,wght@1,300&display=swap');
h2{
	font-family: 'Fira Mono', monospace;
}
/*scroll and resets*/
:root {
  font-size: 16px;
	/*spacing variables*/
	--spacing-1: 8px;
	--spacing-2: 12px;
	--spacing-3: 16px;
	--spacing-4: 24px;
	/*aesthetic variables*/
	--border-radius: 12px;
	--font-color: #121212;
  --secondary-color:rgb(248, 183, 63);
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	color: var(--font-color);
}

body {
	margin: 0;
	padding: 0 var(--spacing-3);
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

section {
	padding: var(--spacing-3) 0;
}

/*dark mode toggle*/

.dark-mode {
	background-color: var(--font-color);
	color: white;
}

/*navigation*/
.logo{
	font-family: 'Overpass', sans-serif;
}
nav {
	display: flex;
	align-items: center;
	padding: var(--spacing-3) 0;
}

.nav-items {
	display: flex;
	list-style-type: none;
	padding: 0;
	align-items: center;
	margin: 0;
	margin-left: auto;
}

.nav-item {
	margin: var(--spacing-1);
	font-family: 'Fira Mono', monospace;
}

a {
	color: var(--secondary-color);
	text-decoration: none;
}

/*about me section*/

.about-container {
	display: flex;
}

.about-text-container {
	margin-right: var(--spacing-3);
}

.portrait {
	width: 300px;
	height:300px;
	object-fit: cover;
	border-radius: var(--border-radius);
	flex-shrink: 0;
	border: var(--secondary-color) 2px solid;
}

/*projects section*/
.project-title h3{
  display: inline;
	font-family: 'Fira Mono', monospace;
}

summary::marker{
  color:var(--secondary-color);
}
p{
  line-height: 20px;
  font-size: 1rem;
	font-family:'Lora', serif;
}
/*skills section*/
.skills-container{
	display:flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	color: var(--secondary-color);
}
.skills-container>*{
	font-size:2em;
	width:2em;
	margin-top:var(--spacing-1);
}
/*footer*/
.heart {
	color: red;
}

footer {
	margin-top: auto;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}
footer i{
	font-size: 1.5em;
	padding: 0.2em;
}
/*media queries*/
@media only screen and (max-width:600px){
	.about-container{
		flex-direction: column;
	}
}