h1,h2,h3,p{
    font-family:Helvetica;
}
h1{
    background-image:url("../images/pattern.jpeg");
    background-size: 2000px;
    text-align:center;
    font-size: 100px;
    color: rgb(255, 255, 255);
}
.item h2{
  color: white;
  font-size: 32px;
}

#brush {
  background-color: rgb(32, 218, 156);
}

#frame {
  background-color: LightCoral;
}

#paint {
  background-color: SkyBlue;
}

.price {
  color: Blue;
  font-weight: bold;
  font-family:Helvetica;
}