.code{
  color:white;
  background-color:black;
  font-family:monospace;
}
table{
  border:2px solid goldenrod;
}
h6{
  font-family:Charcoal ;
}
body{
  font-family:Helvetica;
  background:rgb(255,255,0)
}
